.skin-blue .main-header .navbar {
  background: #F7F7F7;
  height: 55px;
}

.skin-blue .main-header .logo {
  background: #283B4F;
}

.skin-blue .main-header .logo:hover {
  background: #283B4F;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #283B4F;
}


.content-wrapper {
  background: #f3f3f4;
}

.skin-blue .main-header .navbar .nav > li > a {
  margin-top: 7px;
  color: #888888 !important;
}

.skin-blue .main-header .navbar .nav > li > a:hover {
  background: #f3f3f4;
  color: #4a5043 !important;
}

.skin-blue .main-header .navbar .nav > li > a:focus {
  background: #f3f3f4;
  color: #4a5043 !important;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: #57b952;
  border-radius: 5px;
  padding: 7px 13px 5px 13px;
  margin: 12px;
}


.main-header .logo {
  height: 63px;
}

.control-sidebar.control-sidebar-dark {
    margin-top: 17px;
}

.skin-blue .sidebar-menu > li.active > a {
    border-left-color: #57b952;
}

.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a, .skin-blue .sidebar-menu > li:hover > a {
    color: #fff;
    background: #283B4F;
}


.img-home {
  width: 950px;
}

.control-sidebar-heading {
  font-size: 19px;
  padding: 0px 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    display: block;
    margin-left: -18px;
    margin-right: -15px;
    font-size: 28px;
    margin-top: 7px;
}


.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #283B4F;
}


.skin-blue .sidebar-menu>li>a:hover {
    background: #22323f;
}

.skin-blue .sidebar-menu>li>a:focus {
    background: #22323f;
}

.skin-blue .sidebar-menu>li>a:active {
    background: #22323f;
}


.skin-blue .sidebar-menu>li>.treeview-menu {
    background: #283B4F;
}

.skin-blue .sidebar-menu > li.active > a {
  background: #22323f;
}

.user-panel {
  padding-top: 5px;
}

.content-wrapper > .col-lg-12 {
  background: #f3f3f4;
}

.content-wrapper > .row {
  background: #f3f3f4;
}

.timeline-icon-color {
  padding: 9px;
  border-radius: 50%;
  margin-left: 14px;
  border: 2px solid #f1f1f1;
  font-size: 16px;
  text-align: center;
}

.timeline-seta {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -1em;
  border-right: 10px solid #f5f5f5;
}

.timeline>li>.timeline-item {
  background: #f5f5f5;
}

.metric-content {
  background-color: #ffffff;
  color: #4c4b4b;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid;
  border-width: 1px;
}

.title-metric {
  font-size: 12px;
  font-weight: bold;
  color: #676a6c;
}

.subtitle-metric {
  color: #676a6c;
}

.status-metric {
  font-size: 24px;
}

.stat-percent {
  float: right;
  font-weight: bold;
}

.small-box {
  border-radius: 12px;
}


.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
  background-color: #EC4859 !important;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
  background-color: #22B9BB !important;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
  background-color: #19A689 !important;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
  background-color: #F7A54B !important;
}


.progress-bar-red, .progress-bar-danger {
  background-color: #EC4859;
}
.progress-bar-danger {
  background-color: #EC4859;
}
.progress-bar-light-blue, .progress-bar-primary {
    background-color: #22B9BB;
}
.progress-bar-warning {
  background-color: #F7A54B;
}
.progress-bar-success {
  background-color: #19A689;
}


.text-green {
  color: #19A689 !important;
}
.text-red {
  color: #EC4859 !important;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
  background-color: #EC4859 !important;
}

.bg-blue {
  background-color: #22B9BB !important;
}


.box.box-primary {
  border-top-color: #22B9BB;
}
.box.box-danger {
  border-top-color: #EC4859;
}
.box.box-success {
  border-top-color: #19A689;
}
.box.box-warning {
  border-top-color: #F7A54B;
}

span.collapse-icon {
  font-size: 14px;
  margin-right: 5px;
}
.info-box {
  border-radius: 5px;
}

.bg-c-blue {
  background: linear-gradient(45deg,#1dadad,#559eed);
}
.bg-c-green {
    background: linear-gradient(45deg,#19A689,#33b79d);
}
.bg-c-yellow {
    background: linear-gradient(45deg,#ef9c43,#fcbb5f);
}
.bg-c-red {
    background: linear-gradient(45deg,#EC4859,#fc6c7f);
}

.small-box {
  color: #fff;
}
.float-right {
  float: right;
}

.mt-f {
  margin-top: 14px
}

.form-control {
    border-radius: 4px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: .95em;
    color: 565656;
    font-weight: initial;
}

.position-fixed {
  position: 0px;
}

.brand-title {
  text-align: center;
  font-size: 2px;
  font-weight: 600;
  color: white;
  height: 55px;
  display: none;
  padding: 5px;
}

.brand-icon {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 10px 0;
  max-height: 55px;
}

.oper-brand {
    background: #213242;
}

.user-panel {
  display: none;
  padding: 15px;
}


.navbar-brand {
 padding-top: 10px;
}
.navbar-brand > img {
  height: 35px;
}

.skin-blue .main-header .navbar .nav > li > a {
    color: #e2e2e2 !important;
    font-weight: 600;
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav > li > a:active {
    background: none;
    color: #57B952 !important;
}
.skin-blue .main-header .navbar .nav > li > a.active {
    background: none;
    color: #57B952 !important;
}

.brand-icon > img {
    width: 40px;
    max-height: 50px;
    padding: 5px 0px;
}

.brand-title > img {
    width: 70%;
}
