.skin-blue .main-header .navbar {
  background: #f3f3f4;
}

.skin-blue .main-header .logo {
  background: #0b3954;
}

.skin-blue .main-header .logo:hover {
  background: #0f4666;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #0b3954;
}


.content-wrapper {
  background: #fff;
}

.skin-blue .main-header .navbar .nav > li > a {
  margin-top: 7px;
  color: #888888 !important;
}

.skin-blue .main-header .navbar .nav > li > a:hover {
  background: #f3f3f4;
  color: #4a5043 !important;
}

.skin-blue .main-header .navbar .nav > li > a:focus {
  background: #f3f3f4;
  color: #4a5043 !important;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: #57b952;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px;
}


.main-header .logo {
  height: 63px;
}

.control-sidebar.control-sidebar-dark {
    margin-top: 17px;
}

.sidebar-menu {
    margin-top: 14px;
}

.skin-blue .sidebar-menu > li.active > a {
    border-left-color: #57b952;
}

.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a, .skin-blue .sidebar-menu > li:hover > a {
    color: #fff;
    background: #0b3954;
}


.img-home {
  width: 950px;
}

.control-sidebar-heading {
  font-size: 19px;
  padding: 0px 0;
  margin-bottom: 10px;
  font-weight: bold;
}
